In [6]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from scipy.stats import norm

In [11]:
data = pd.read_csv('./data/salmon_seabass.csv')
data.head()

   index  lightness      width  species
0      0   2.834754  21.087143        0
1      1   3.329180  18.877143        0
2      2   3.690492  19.824286        0
3      3   4.812459  17.760000        0
4      4   4.812459  16.497143        0

In [15]:
lightness = data['lightness'].values